<div class="row">
    <div class="col-lg-4 col-12 m-0 p-0">
        <div class="card">
        <img src="../../../assets/Test_Image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem</h5>
          <p class="card-text">Price</p>
          
        </div>
         </div>
    </div>
    <div class="col-lg-4 col-12 m-0 p-0"><div class="card">
        <img src="../../../assets/Test_Image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem</h5>
          <p class="card-text">Price</p>
          
        </div>
         </div></div>
    <div class="col-lg-4 col-12 m-0 p-0"><div class="card">
        <img src="../../../assets/Test_Image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Price</p>
          
        </div>
         </div></div>
</div>