<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, odit?
            </div>
            <div class="col-lg-6  col-12 text-center p-5">
            <h1>
                JACKET{{featured.name}}
            </h1>
            <div class="text-center mt-5">
                <button class="btn btn-primary mr-3 bg-dark">SHOP NOW</button>
            </div>
            </div>
            </div>
        </div>
    </div>